/.vs
/Domain.Library/obj
/Domain.Library/bin

/Application.Library/obj
/Application.Library/bin

/Infrastructure.Library/obj
/Infrastructure.Library/bin

/Persistance.Library/obj
/Persistance.Library/bin

/Common.Library/obj
/Common.Library/bin

/WEB_API/obj
/WEB_API/bin

/End.Point.Test/obj
/End.Point.Test/bin

/XUnitTest_Application/obj
/XUnitTest_Application/bin

/NUnitTest_Application/obj
/NUnitTest_Application/bin