Domian.Library/obj
Domian.Library/bin
Domian.Library.XUnit/obj
Domian.Library.XUnit/bin

Application.Library/obj
Application.Library/bin
Application.Library.XUnit/obj
Application.Library.XUnit/bin

Infrastructure.Library/obj
Infrastructure.Library/bin
Infrastructure.Library.XUnit/obj
Infrastructure.Library.XUnit/bin

EnfPoint_WebApi/obj
EnfPoint_WebApi/bin

