*.jpg
*.png
*.jpeg
*.mp3
*.dll
*.pdb
*.vsix
*.vsidx
/.vs
/obj
.idea
Application.Library/bin
Application.Library/obj
Common.Library/bin
Common.Library/obj
Domain.Library/bin
Domain.Library/obj
Persistance.Library/bin
Persistance.Library/obj
