@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace CleanArchitecture.WebApp.Pages

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap-utilities.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body dir="rtl">
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <div class="d-flex flex-row justify-content-between">
            <a class="dismiss btn btn-danger">🗙</a>
            <div class="text-danger me-5 px-5">
                <environment include="Staging,Production">
                    خطایی رخ داده است. این برنامه ممکن است دیگر پاسخ ندهد تا زمانی که دوباره بارگیری شود.
                </environment>
                <environment include="Development">
                    یک استثناء کنترل نشده رخ داده است. برای جزئیات بیشتر به ابزارهای توسعه دهنده مرورگر مراجعه کنید.
                </environment>
            </div>
            <a href="" class="reload btn btn-danger rounded-3 shadow">تازه سازی</a>
        </div>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.esm.min.js"></script>
</body>
</html>
