@page "/"

<div class="container p-3 shadow rounded-2 text-center">
    <div class="row">
        <div class="col-3 p-1">
            <div class="bg-dark text-light  rounded-2 shadow p-2">
                <NavLink class="nav-link" href="/Security/Login" Match=@NavLinkMatch.All>
                    <span class="oi oi-login" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        </div>
        <div class="col-3 p-1">
            <div class="bg-dark text-light  rounded-2 shadow p-2">
                <NavLink class="nav-link" href="/Security/SignUp">
                    <span class="oi oi-login" aria-hidden="true"></span> SignUp
                </NavLink>
            </div>
        </div>
        <div class="col-3 p-1">
            <div class="bg-dark text-light  rounded-2 shadow p-2">
                <NavLink class="nav-link" href="api/Security/Authentication/Login" Match=@NavLinkMatch.All>
                    <span class="oi oi-login" aria-hidden="true"></span> Login API
                </NavLink>
            </div>
        </div>
        <div class="col-3 p-1">
            <div class="bg-dark text-light  rounded-2 shadow p-2">
                <NavLink class="nav-link" href="api/Security/Authentication/SignUp" Match=@NavLinkMatch.All>
                    <span class="oi oi-login" aria-hidden="true"></span> SignUp API
                </NavLink>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 p-1">
            <div class="bg-dark text-light  rounded-2 shadow">1</div>
        </div>
        <div class="col-3 p-1">
            <div class="bg-dark text-light  rounded-2 shadow">2</div>
        </div>
        <div class="col-3 p-1">
            <div class="bg-dark text-light  rounded-2 shadow">3</div>
        </div>
        <div class="col-3 p-1">
            <div class="bg-dark text-light  rounded-2 shadow">4</div>
        </div>
    </div>
</div>
