@page "/"

<PageTitle>Index</PageTitle>
<div class="container p-2">
    <div class="row shadow p-2">
        This is My Index Home Page
    </div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
