<!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>Kamran Tajerbashi</h1>
            <p>I'm <span class="typed" data-typed-items="Programmer, Developer, Freelancer, Software Engineer"></span></p>
        </div>
    </section>
<!-- End Hero -->