@{
    ViewBag.Title = "Home Page";
}
<style>
    ul {
        list-style: none;
    }
</style>
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET SOAP Web Service</h1>
    </section>
    <div class="row text-center">
        <div class="col-6">
            <div class="bg-primary text-light rounded-5 p-2">
                <div class="alert alert-primary rounded-5">Web Services</div>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item-primary rounded-5 mt-1"><button class="btn btn-dark rounded-5 w-100 ">Organization A</button></li>
                        <li class="list-group-item-primary rounded-5 mt-1"><button class="btn btn-dark rounded-5 w-100 ">Organization A</button></li>
                        <li class="list-group-item-primary rounded-5 mt-1"><button class="btn btn-dark rounded-5 w-100 ">Organization A</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6"><div class="bg-warning text-dark rounded-5 p-2">Column 2</div></div>
    </div>
</main>